---
// src/components/HoverCard.astro

---
<style>
    .blur-bg::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        backdrop-filter: blur(10px); 
        border-radius: 0.5rem; 
    }
</style>

<div class="flex items-center justify-center p-10">
    <div class="flex blur-bg relative max-w-6xl p-6 max-h-[260px]  rounded-lg overflow-hidden">
        <div class="z-10">
            <slot/>
        </div>
    </div>
</div>