---
import HeaderButton from "./HeaderButton.astro"
---

<div class="flex absolute items-center justify-end w-full h-28 bg-gray-950 text-slate-50">
    <HeaderButton redirectTo="/about" label="about"/>
    <HeaderButton redirectTo="/news" label="news"/>
</div>