---
import InfoDisplay from './react/InfoDisplay.jsx';
---

<div class="overflow-hidden relative md:w-3/5 md:h-2/4 h-full w-4/5 flex justify-evenly md:justify-center items-center rounded-2xl">
    <InfoDisplay client:load />
</div>
