.slide-in {
    opacity: 0;
    transition: transform 1s ease-out, opacity 1s ease-out;
}

.slide-in.visible {
    transform: translateY(0);
    opacity: 1;
}

.skill-item {
    position: relative;
    background-color: rgba(128, 128, 128, 0.543);
    padding: 15px;
    margin: 5px;
    z-index: 10;
}